SWIFT_VERSION = 6.0
IPHONEOS_DEPLOYMENT_TARGET = 18.0
PRODUCT_BUNDLE_IDENTIFIER = sg.buspulse.app
LTA_ACCOUNT_KEY =
#include? "Secrets.xcconfig"
INFOPLIST_KEY_LTAAccountKey = $(LTA_ACCOUNT_KEY)

ASSISTANT_SERVICE_URL =
ASSISTANT_ACCESS_CODE =
BUSTECH_BRIDGE_TOKEN =
#include? "Assistant.local.xcconfig"
